[2017-06-19 11:10] rdnetto opened #2 "Only show one result for overlapping aliases"
I get the following output for `git status`:
[code]

It would be nice if it only showed the longest matching alias, rather than all of them.

[2017-06-19 11:15] MichaelAquilina commented on #2
This is something I was actaully wondering how to handle correctly.

I think it's useful to see multiple options for aliases that can be used, but I also agree that showing multiple results can be too much to display to the user.

Perhaps I can make this a configurable option.

[2017-06-19 13:46] MichaelAquilina opened #3 "Support git aliases"

[2017-06-19 13:47] MichaelAquilina commented on #2
How about an option that provides several ways of displaying results. What you suggested could be "Best Match" and the the current could be "All"?

[2017-06-20 06:23] emmanueltouzery opened #4 "false positive in case of common command name prefix?"
I just got this false positive:

[code]

i was using https://github.com/jessevdk/gitg (and that command was correctly launched despite the warning)

[2017-06-20 06:57] MichaelAquilina commented on #4
Ah yes. Should be an easy fix. Will release it this morning when I get a
chance

On 20 Jun 2017 7:23 am, "emmanueltouzery" <notifications@github.com> wrote:

[2017-06-20 08:38] MichaelAquilina commented on #4
Fixed with https://github.com/MichaelAquilina/zsh-you-should-use/commit/2a57874d6e4b41c8c632998afd88c2f87c056d5c. Give it a go and close the issue if it works for you :)

[2017-06-20 08:42] emmanueltouzery commented on #4
yes it seems to fix it! I had found another example btw:

[code]

the second one was obviously bogus. closing the bug now, great!

[2017-06-20 08:42] #4 closed

[2017-06-20 09:10] MichaelAquilina commented on #2
@rdnetto try out the branch in PR #5 to see if this matches your use case :) The code needs to be cleaned up but works from what I have tested

[2017-06-20 18:06] #2 closed

[2017-06-20 21:54] MichaelAquilina opened #6 "Support global aliases"

[2017-06-21 12:44] rdnetto commented on #2
Awesome, works great! Thanks for that :)

[2017-06-21 12:48] rdnetto opened #7 "Support whitelist for ignoring certain commands"
My use case for this is that I have `ls` aliased to fix a common typo, but I don't want to be reminded of that every time I run it.
[code]

[2017-06-21 13:05] MichaelAquilina commented on #7
interesting use case. Should also be relatively simple to solve

[2017-06-21 13:07] MichaelAquilina commented on #7
Maybe a different approach would be to allow an option that ignores aliases that are of the same length of the command it represents?

[2017-06-21 13:53] MichaelAquilina commented on #7
@rdnetto take a look at #8

[2017-06-21 15:32] MichaelAquilina commented on #6
`alias -g` lists all global aliases

[2017-06-21 15:32] MichaelAquilina commented on #3
`git config --get-regexp "^alias\..+$"` returns all git aliases

[2017-06-22 08:20] rdnetto commented on #7
Thanks, works perfectly.

[2017-06-22 08:20] #7 closed

[2017-06-23 15:57] MichaelAquilina opened #10 "Allow custom message to be displayed when existing aliases found"
Should be simple to perform with printf

[2017-06-24 10:28] #6 closed

[2017-06-26 08:14] JoshuaCrewe opened #13 "Error : maximum nested function level reached"
zsh --version
`zsh 5.3.1 (x86_64-apple-darwin15.6.0)`

I am using zplug to manage zsh plugins. I used zplug to install this plugin about a week ago and have had success with it. I updated all my installed plugins ( about 9 in total including this one ) and found that I got this error when trying to run any command in the terminal.

`local:6: maximum nested function level reached`

The number varie

[2017-06-26 08:33] MichaelAquilina commented on #13
Thank you for reporting this :) Could you provide your list of aliases with the following commands?

`alias`
`alias -g`

Thanks!

[2017-06-26 08:59] MichaelAquilina commented on #13
Btw at first glance I cant see any reason why this would be happening because the code does not have any recursive functions, but let's dig a bit deeper before

[2017-06-26 09:41] MichaelAquilina opened #14 "BESTMATCH: always choose shortest alias"
Example:
[code]

then writing `nvim` should prefer to display `v` as a suggestion

[2017-06-26 14:54] JoshuaCrewe commented on #13
Sure. This is going to be embarrassing.
`alias`
[code]
`alias -g`
[code]

Most illuminating!
[Harry Potter Aliases if anyone is interested](https://gist.github.com/graceavery/01ec404e555571a4a668c271c8f62e8b)

[2017-06-26 15:28] MichaelAquilina commented on #13
Till now, sourcing all your aliases does not provide me with the error, so I will attempt to use your `.zshrc` file as a next step. Have you attempted to comment this package out too to see if you still get the error? Perhaps something is being sourced along the way that you are unaware of?

[2017-06-26 19:18] JoshuaCrewe commented on #13
Yeah nice idea. I'll carry on narrowing down my config to see what's up. Given your response it is almost certainly my end.

I'll get an update tomorrow when I am back with my computer :) cheers!

[2017-06-26 21:55] MichaelAquilina commented on #13
I've tried using both your zshrc file and your alias list at the same time and I still didnt experience any issues.

[code]
We have the zsh version so I'm quite sure that the issue isn't actually coming from this package. I mentioned already that this plugin does not use recursive functions, so I'm 99% sure this is true.

I will keep this open for a while longer in case anyone else is experiencing

[2017-06-26 21:56] MichaelAquilina commented on #13
btw something I noticed while using your aliases is that it reminds you of aliases despite the fact they may be longer. Is this something you would consider desired behaviour or do you think its an improvement for me to add a check that the alias is shorter than the command?

[2017-06-27 09:01] Navisence commented on #13
I'm experiencing a similar issue. Read about you-should-use on [Cron.weekly](https://www.cronweekly.com/issue-86/) and tried it by downloading the zip here and extracted to `.oh-my-zsh/custom/plugins/you-should-use`

[code]
I'm using zsh on debian 8.
[code]
After reading the above, I've disabled all plugins - no issue anymore. When enabling just you-should-use in `.zshrc` I'm also getting the maxi

[2017-06-27 10:12] MichaelAquilina commented on #13
Multiple users experiencing this tells me it must be mine after all. It just seems to be one of those bugs that's difficult to reproduce. I'll try think up of some things that could help me get more information or debug further.

[2017-06-27 14:26] seanlerner opened #15 "gpsup doesn't trigger you-should-use"
I have the following alias setup:

[code]

I've enabled hardcore mode, but you-should-use doesn't get in the way of this command:

[code]

[2017-06-27 14:28] MichaelAquilina commented on #15
the problem is that the plugin does not evaluate variables within aliases. It could probably be exploitable if not careful so I will consider if its something worth doing or not.

[2017-06-27 14:30] MichaelAquilina commented on #13
@JoshuaCrewe are you also using Oh-my-zsh?

[2017-06-27 15:40] JoshuaCrewe commented on #13
I have been trying to slim down my rc to just the bare minimum that recreates the issue. I have found that it can be just zplug and this plugin, unfortunately. I have enabled each plugin one by one and found the issue only arises when this one is enabled.

I did notice one other thing. When it was just this one plugin I got the error `local:6: maximum nested function level reached` but the termina

[2017-06-27 22:05] MichaelAquilina commented on #13
@JoshuaCrewe aliases which are longer than their command are no longer suggested as of https://github.com/MichaelAquilina/zsh-you-should-use/commit/d08f4c66ebc3df5be01a784044e10711155af145.

Could you guys try running the command `set -x` which will print each line that's run. Run something that you know was giving you that error and take the output printed (it will be very verbose). Put that in a

[2017-06-28 15:17] #3 closed

[2017-06-28 19:34] MichaelAquilina opened #17 "Does not work for zsh versions 5.0 or less"
discovered when running tests on travis ci with a trusty machine

[2017-06-29 08:12] JoshuaCrewe commented on #13
Morning!

This was not quite what I expected from this command, but it does seem to tell us something.

[gist of set -x output](https://gist.github.com/JoshuaCrewe/708df146022e4c9d99aa97cdb71e4f62)

I skimmed my config down to just this plug in and the aliases. There are none of my functions in there and exports etc are not included either. Loaded with zplug and no other plugins.

( In case it is

[2017-06-29 09:05] MichaelAquilina commented on #13
This gives me an idea of where to look now at least. Thanks :)

[2017-06-29 15:34] MichaelAquilina opened #19 "Create tests that check fresh installations"
Check for:
* zplug
* antigen
* zgen
* oh-my-zsh

[2017-06-29 16:41] MichaelAquilina commented on #13
Can you guys both confirm that you are on the latest version of `zsh-you-should-use`? On zplug you can run `zplug update`.

[2017-06-29 16:51] MichaelAquilina commented on #13
Also, could you tell me what the output of `which local` gives?

[2017-06-29 21:10] Navisence commented on #13
This is my [gist of set -x output](https://gist.github.com/Navisence/530c03b1e7c4947341f91404c24c9eb3).

The version is the zip file downloaded from here last Monday.

[code]

[2017-06-30 08:22] JoshuaCrewe commented on #13
It is the latest version which zplug can give me. I have been uninstalling and reinstalling it to do these tests so I am pretty sure it is getting the latest one.

[code]

[2017-06-30 09:06] MichaelAquilina commented on #13
It's quite odd because it seems to keep repeating the first line of the function which is just declaring a variable. I suspect there is something else in your environment which is treating that line as a recursive function.

Could you tell me what the output of the following commands are?
[code]

[2017-06-30 09:24] MichaelAquilina commented on #13
@JoshuaCrewe @Navisence could you try running #20 and see if the error still persists?

[2017-06-30 09:56] JoshuaCrewe commented on #13
[code]
The last two were blank.

I have changed branch in the repo to `origin/hotfix_attempt_1` and I get a new error :
[code]
The original error is no more though.

[2017-06-30 09:57] JoshuaCrewe commented on #13
I do get the intended functionality for the plug in though. i.e it will print out a better alias to use instead of the command I types.

[2017-06-30 10:11] MichaelAquilina commented on #13
ah! That is a different error. Interesting that it fails for you but runs for me, must be something subtley different about our zsh versions

[2017-06-30 10:14] MichaelAquilina commented on #13
Just pushed a new change. Could you try it out?

[2017-06-30 11:01] JoshuaCrewe commented on #13
That's progress though! Are we not running the same version of zsh then ?

[2017-06-30 11:29] MichaelAquilina commented on #13
From the looks of it, we should be. But the fact you get a syntax error when I dont is very strange and is usually something you expect out of different zsh versions. Did the new change that was pushed fix the new error?

[2017-06-30 11:47] JoshuaCrewe commented on #13
That was confusing, zplug kept switching back to master.

I get :
[code]
similar but not the same.

[2017-06-30 12:40] MichaelAquilina commented on #13
Its strange that that's the entire line :/ What happens if you run `_check_global_aliases "git status" "git status"` (with `set -x` still on)

[2017-06-30 12:41] MichaelAquilina commented on #13
Oh wait I just realised thats *another* error. I wonder why your version of zsh is more strict about this

[2017-06-30 12:42] MichaelAquilina commented on #13
Alright @JoshuaCrewe this should fix all your errors now. Try it out

[2017-06-30 14:04] JoshuaCrewe commented on #13
🎉🎉🎉

That seems to have done it. Nice work! So zsh does always like defining a variable and setting it at the same time ? For some reason my zsh doesn't like it more than yours ...

Presumably it is the same for @Navisence too ?

[2017-06-30 14:08] MichaelAquilina commented on #13
I am still unsure why this is the case. It might be differences in how zsh is compiled. If you want to be adventurous, try [downloading the zsh source code](https://fourdots.com/mirror/zsh/), compiling it and seeing if the issue still arises for you without my fixes :)

[2017-06-30 14:09] MichaelAquilina commented on #13
Will wait for @Navisence that this fix works for him too. Once I get confirmation I will merge a new release into master and you guys can change back to master after updating

[2017-06-30 15:42] JoshuaCrewe commented on #13
Well that's certainly one way to spend an afternoon!

[2017-07-01 11:34] MichaelAquilina commented on #13
@JoshuaCrewe @Navisence the fixes have been merged into master. Give it a go and let me know whether we can close this issue

[2017-07-01 15:42] MichaelAquilina commented on #17
#21 proves that 5.0 is now supported

[2017-07-01 15:42] #17 closed

[2017-07-03 05:51] Navisence commented on #13
Just tested the master and your fixes resolve the issue for me. Thanks!

[2017-07-03 08:53] MichaelAquilina commented on #13
Great to hear!

[2017-07-03 08:53] #13 closed

[2017-07-03 10:26] JoshuaCrewe commented on #13
Good stuff. No issues here neither.

[2017-07-06 21:29] MichaelAquilina opened #23 "Use cached directories for testing"
This should significantly speed up build times due to skipping the make compile step for ZSH

[2017-07-06 21:29] MichaelAquilina commented on #14
Fixed in #22

[2017-07-06 21:29] #14 closed

[2017-12-13 12:30] selfish opened #27 "Print to stdout can mess plugins"
Best use case:
zsh plugin `git` which we all use cannot complete branch names, because it does `git branch --all`, and the output from you-should-use will mess the output.

If there was a way to test current context and know if the user didn't type in the command, the text can be hidden.

[2017-12-13 15:50] MichaelAquilina commented on #27
I wasnt ware of this actually. I will try fix it as soon as I get the chance. Thanks for reporting the issue @selfish

[2017-12-13 23:48] MichaelAquilina commented on #27
@selfish I am trying to find a reproducible test case to check that #28 correctly fixes this issue. Would you mind providing me with your:
* set of aliases
* a link to the git zsh you are referring to
* an example command where autocompletion fails

Alternatively, you can checkout my branch and install it to your system to see if it works :)

[2017-12-14 09:45] selfish commented on #27
@MichaelAquilina sure, no problem, thanks for the help!
Sorry for not including the steps to reproduce, here they are:

1. Have any alias that will trigger upon `git branch`. Example: I use `alias g='git'`.
2. Have the default oh-my-zsh `git` plugin enabled: `plugins=(git ...)` or `antigen bundle git` or however you do it.
3. Start your terminal, make sure zsh is up to date (save and start a new t

[2017-12-17 12:44] #27 closed

[2017-12-17 23:44] selfish commented on #27
Oh, NICE. Thank you so much!

[2017-12-18 08:46] MichaelAquilina commented on #27
Please test that this works @selfish and get back to me :) I was uable to reproduce it myself unfurtunately but the output should be writtent to stderr now

[2017-12-19 08:41] selfish commented on #27
Seems to be looking good.
Thanks again!

[2017-12-19 08:42] MichaelAquilina commented on #27
No problem, glad to be of help :)

[2018-01-04 17:03] selfish opened #29 "[Bug?] Tricky alias behavior triggers bad recommendations"
![image](https://user-images.githubusercontent.com/7327741/34574887-77a6402c-f181-11e7-816a-1b792eabb599.png)

`gl` is the an alias for `git pull`, built in zsh.
I actually have no idea where `pd` and `pul` are derived for, but a simple check for the length of the string can show that I have typed a shorter options than both.

[2018-01-04 17:08] selfish opened #30 ""Best Match" should take into account all alias types"
![image](https://user-images.githubusercontent.com/7327741/34575204-8d5a3c1a-f182-11e7-8d2f-64a9049b2e7b.png)

While here I typed a bad command anyway (my ignorance using autocomplete), I'd expect to only see the first suggestion, I'll never want to type `git s` because then I should see the `gst` suggestion, so even display it?

This may not be a feature suited for all, but I'd love it as a confi

[2018-01-04 17:10] MichaelAquilina commented on #30
@selfish take a look here and see if this section answers your question: https://github.com/MichaelAquilina/zsh-you-should-use#displaying-results

[2018-01-04 17:11] MichaelAquilina commented on #30
Actually, this might be a legitimate bug as it doesnt cater for git and global aliases....

[2018-01-04 17:32] MichaelAquilina commented on #29
Would you mind printing out all your git aliases to help debug this?
[code]

[2018-01-04 18:44] selfish commented on #29
[code]

[2018-01-04 18:46] selfish commented on #30
I'll try it, thanks for the referral.
I'll use `export YSU_MODE=BESTMATCH`, but please let me know - do I just stick it in my `.zshrc` before the plugin load?

[2018-01-04 18:48] MichaelAquilina commented on #29
could you just confirm the output of `alias gl`?

[2018-01-04 18:49] selfish commented on #29
[code]

[2018-01-04 18:49] MichaelAquilina commented on #30
it can be anywhere in your `.zshrc` file :)

[2018-01-04 18:50] selfish commented on #30
Same result after putting it at the top.
(I did of course, tried to re-source the file, and also tried a fresh terminal window)

[2018-01-04 18:51] MichaelAquilina commented on #30
Yeah this is definitely a bug. I will try look into it tonight if I get the chance. Thanks for the report!

[2018-01-04 18:52] selfish commented on #30
Much obliged.
Your plugin is gold, but your response time is priceless.
Thank you!

[2018-01-09 17:03] #29 closed

[2018-02-25 18:10] eigan opened #33 "Using hardcode mode will break cp ../../ with ohmyzsh directory aliases"
#### Summary
This bug is encountered because of an alias built-in to oh-my-zsh. Using `cp ...` does not work.

### How to reproduce

Test directory:
[code]

Configuration:
[code]

Commands to execute
[code]
[code]

[code]

[code]

The aliases for "..." is defined here: https://github.com/robbyrussell/oh-my-zsh/blob/master/lib/directories.zsh

[2018-02-26 13:01] MichaelAquilina commented on #33
I'm not entirely certain what the bug is from reading this bug report.

Could you give an example of expected behaviour and actual behaviour? I *think* the bug is that `cp .../../file.txt` should be suggested as `..../file.txt` but I'm not entirely sure

[2018-02-26 14:46] eigan commented on #33
Sorry, should have made it more clear. This plugin suggest to rewrite the command ( cp ../../../file.txt ) to something that does not work ( cp ..../file.txt . )

It correctly says that `....` is an alias, but it cannot be used with `cp` (as seen in example: (cannot stat ... etc)

_This could be a bug with oh-my-zsh, I am not sure.._

[2018-02-26 14:56] MichaelAquilina commented on #33
ah. Why does `....` exist as an alias if it doesn't work?

[2018-02-26 19:42] eigan commented on #33
It is sourced here: https://github.com/robbyrussell/oh-my-zsh/blob/master/oh-my-zsh.sh#L31

The aliases are checked in _check_global_aliases().

This code on line 71:. `if [[ "$1" = *"$v"* ]]; then` will match any commands **containing** the alias defined. So the alias `...='../..'` will match when I type `cp ../../` and _zsh-you-should-use_ will complain that I am not using this alias.

**Note th

[2018-02-26 19:47] eigan commented on #33
It does work.

[code]

[2018-02-26 19:59] eigan commented on #33
Oh,

[code]
This command actually works. But `cp .../file.txt`, `mv .../file.txt` etc does not.

[2018-03-12 15:51] MichaelAquilina opened #34 "Should recommend shorter aliases"
Example
[code]

if I run `gco master` it should detect that `gcom` is a shorter alias and recommend that

[2018-03-22 21:46] MichaelAquilina commented on #34
Fixed in ca04883d39c2a4d890cb46aa698ceccc4be88993

[2018-03-22 21:46] #34 closed

[2018-03-23 11:11] MichaelAquilina opened #35 "Provide support for Colors and other output customisation"

[2018-04-02 01:23] sumnerevans opened #39 "No License"
What license is this code under? It would be good to add a LICENSE file to this repository to clarify what this code is released under.

[2018-04-02 21:11] MichaelAquilina commented on #35
Fixed by https://github.com/MichaelAquilina/zsh-you-should-use/pull/36

[2018-04-02 21:11] #35 closed

[2018-04-02 21:15] MichaelAquilina commented on #39
Apologies for that. This project is under a GPL v3 license (see #40)

[2018-04-02 21:19] #39 closed

[2018-04-18 16:44] #10 closed

[2018-06-03 15:28] sheafitzek opened #48 "per-directory-history breaks you-should-use"
I'm using oh-my-zsh on Ubuntu 16.04. Whenever I enable the bundled per-directory-history plugin, you-should-use breaks. There is no output from it at all. Let me know if you need additional info.

[2018-06-03 21:56] MichaelAquilina commented on #48
Are you on the latest version of you-should-use?
How does it break (any output on the console)?
What zsh version are you on?
Would it be possible to provide a minimal zshrc showing the breakage?

[2018-06-04 01:09] sheafitzek commented on #48
I am on ZSH v5.1.1 & you-should-use v0.4.4.
There is no output to the console from you-should-use when per-directory-history plugin is activated.

[code]
If I comment out the per-directory-history plugin, you-should-use works as expected.

[2018-06-04 20:45] MichaelAquilina commented on #48
Interestingly, when I enable the `per-directory-history` plugin it doesnt work for the first command. The next few commands that are typed are detected. Do you experience the same behaviour?

[2018-06-04 22:01] sheafitzek commented on #48
I just tested about 10 commands that I have aliases for, some of them multiple times, but never got any output from you-should-use.

[2018-07-01 22:19] #30 closed

[2018-07-05 08:31] MichaelAquilina commented on #15
Closing this issue because its non-trivial and very likely exploitable from a security perspective if implemented in some way.

[2018-07-05 08:31] #15 closed

[2018-08-11 05:06] HaleTom opened #51 "Allow temporary disabling"
## Feature request

I'd like to be able to temporarily disable this plugin (eg when generating text to copy / paste when lodging bug reports).

If using:

[code]

I simply get the default message format.

Could you support something like:
[code]

[2018-08-13 08:35] MichaelAquilina commented on #51
Hi @HaleTom this should be a really easy change so I'll just go ahead and add that in for you.

[2018-08-13 09:07] MichaelAquilina opened #53 "Port CI to Circle 2.0"
This should provide much faster build times

[2018-08-13 09:12] #51 closed

[2018-08-13 09:14] MichaelAquilina commented on #51
@HaleTom try out the functions `disable_you_should_use` and `enable_you_should_use` in the latest release :)

[2018-08-13 09:15] MichaelAquilina opened #54 "Update README"
Some functionality is missing on the README
- [ ] enable/disable functions

[2018-08-13 15:42] #53 closed

[2018-08-14 02:34] HaleTom commented on #51
Excellent!  Thank you!

[2018-09-24 10:25] MichaelAquilina opened #56 "Experiment with new default message"
Selective bolding: Maybe "detected alias for X. **you should use 'Y'**"
Emojis: something like the :godmode: emoji in hardcore messages for example

[2018-10-04 13:53] #23 closed

[2018-10-04 13:53] #19 closed

[2018-10-31 14:28] #54 closed

[2018-11-14 23:19] MichaelAquilina opened #60 "Use tput instead of hardcoded escape codes"
This ensures correct compatability in terminals

[2018-12-08 16:09] #56 closed

[2018-12-08 16:52] #60 closed

[2019-02-01 11:24] crater2150 opened #66 "Git alias matching ignores parameters"
The matching for git aliases ignores parameters that may be included in the alias. This causes YSU to recommend aliases that do something different (and in my case even are longer than the command I typed). YSU should only recommend aliases, that do not contain parameters not included in the command.

## Example:
I have an alias, that allows me to redo the last commit with `git recommit`:
[code]

[2019-02-01 13:46] crater2150 commented on #66
I already have a partial solution, I'll send a PR sool.

[2019-02-05 14:47] #66 closed

[2019-03-06 22:43] koesherbacon opened #69 "Convert for use with Fish?"
Hello, do you think its possible to convert this for use with Fish?  I realize that this isn't really an issue but since git does not have a messaging feature I can't think of another way to ask what you think.  It's an awesome concept which I'd totally use all the time except my shell of choice is Fish.  Zsh is a little too overly complicated and feature-rich for my taste.

[2019-03-07 11:46] MichaelAquilina commented on #69
Hi there @koesherbacon

Based on this documentation it should not be impossible to make a fish version of this plugin: https://fishshell.com/docs/2.2/commands.html#function-description

I  would suggest you give it a go as it doesnt look too difficult :) You would mainly be looking to find replacements for these hooks:

https://github.com/MichaelAquilina/zsh-you-should-use/blob/master/you-should-u

[2019-04-01 09:38] BrunoVernay opened #70 "RFE: Make project's name less error prone "zsh-""
# Issue Details

Different names `you-should-use` vs.  `zsh-you-should-use` can cause issues in **other** projects.   It is error prone.

## How is zsh-you-should-use installed?

- [ ] zplug
- [X] oh-my-zsh
- [ ] Antigen
- [ ] Other (please specify)

## Steps to reproduce the issue

I guess a `oh-my-zsh` wrongly added  `zsh-you-should-use`  in the list of plugin.  Anyway the issue is that other pr

[2019-04-01 10:44] MichaelAquilina commented on #70
I'll take a look at how `oh-my-zsh` is bundling this plugin and see how we can make it work from there. It should be quite simple to rename the plugin file. The only concern I have is how it affects users with existing installations as I've tried this once before and things broke locally for me.

[2019-04-01 10:46] MichaelAquilina commented on #70
[code]

Could you point out where you see this plugin listed in oh-my-zsh? I cant seem to find it at first glance

[2019-04-01 11:44] BrunoVernay commented on #70
After some research, it looks like **I** may have added it to the plugin list around 2017 ! The recent change that popped it up is OhMyZSH adding an error message in case of unrecognized plugin :-)
So, unless you get similar feedback from others, it may just be me 2 years ago being confused and not paying enough attention.

[2019-04-13 23:08] MichaelAquilina commented on #70
Going to close this issue based on your last comment @BrunoVernay. Feel free to re-open if you think the issue shouldnt be considered solved.

[2019-04-13 23:08] #70 closed

[2019-06-03 08:17] MichaelAquilina opened #71 "Update to use new ISSUE_TEMPLATE format"
https://help.github.com/en/articles/creating-issue-templates-for-your-repository

[2019-08-01 21:13] MichaelAquilina opened #78 "Support git and global alises for check_alias_usage"
Right now the `check_alias_usage` command only reports on standard aliases. It should be expanded to support git and global aliases too.

[2019-08-06 01:12] benwaffle opened #79 "Some shorter aliases are not detected"
# Issue Details

Please provide the following details when opening an issue:

## Operating System (uname -a)
`Darwin MacBook-Pro 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64 x86_64`

## zsh version (zsh --version)
`zsh 5.7.1 (x86_64-apple-darwin18.2.0)`

## you-should-use version (echo "$YSU_VERSION")
`1.3.0`

## How is zsh-you-should-use

[2019-08-08 23:26] griwes commented on #48
I am having the same issue; disabling `per-directory-history` is necessary for `you-should-use` to work correctly for me. Sadly, this means not using YSU for me...

I'm on Debian sid, ZSH 5.7.1, you-should-use 1.3.0.

[2019-08-21 17:50] MichaelAquilina commented on #79
I'm afraid this issue went past my radar without me noticing! Would you please mind posting your alias definitions to see if I can easily reproduce the issue on my machine?

[2019-10-07 11:07] MichaelAquilina commented on #79
@benwaffle polite ping about this

[2019-10-12 23:35] MichaelAquilina commented on #79
@benwaffle take a look at the latest release (1.5.0). The issue should be fixed there. Thanks for reporting the issue!

[2019-10-13 06:14] epk opened #84 "Getting prompted when using an alias"
## Operating System (uname -a)

Darwin Adityas-MacBook-Pro.local 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019; root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64

## zsh version (zsh --version)

zsh 5.7.1 (x86_64-apple-darwin19.0.0)

## you-should-use version (echo "$YSU_VERSION")

1.5.0

## How is zsh-you-should-use installed?

- [ ] zplug
- [x] oh-my-zsh
- [ ] Antigen
- [ ] Other (

[2019-10-13 09:12] orcantiryaki commented on #84
Same issue with zplug here

[code]

[2019-10-13 09:38] MichaelAquilina commented on #84
Seems like this is a regression from yesterday's release. I'll revert the change temporarily and release a proper fix in due course

[2019-10-13 09:48] MichaelAquilina commented on #84
A hotfix has been released that should solve this issue. Let me know if you still experience this problem or not once you update :)

[2019-10-13 10:33] orcantiryaki commented on #84
Solved :+1:

[2019-10-13 21:39] #84 closed

[2019-10-14 05:41] jcklpe opened #88 "You Should Use reminder fires even when I use the correct alias"
# Issue Details

Please provide the following details when opening an issue:

## Operating System (uname -a)
Windows WSL
Linux Goffe 4.4.0-17763-Microsoft #379-Microsoft Wed Mar 06 19:16:00 PST 2019 x86_64 x86_64 x86_64 GNU/Linux

## zsh version
zsh 5.4.2 (x86_64-ubuntu-linux-gnu)

## you-should-use version (echo "$YSU_VERSION")
1.5.0

## How is zsh-you-should-use installed?

- [ ] zplug
- [ ] oh-

[2019-10-14 06:02] MichaelAquilina commented on #88
Hi @jcklpe. This is a known issue in the 1.5.0 release. Please update to the latest version and the problem should go away

[2019-10-14 09:32] MichaelAquilina commented on #88
Going to close this issue. Let me know if you still see this problem on the latest version!

[2019-10-14 15:10] jcklpe commented on #88
@MichaelAquilina

[code]

Has the update been pushed to the master branch yet?

[2019-10-14 15:14] jcklpe commented on #88
@MichaelAquilina

[code]

I've updated it and I'm still getting the issue.

[2019-10-14 15:16] MichaelAquilina commented on #88
That's strange - I can't reproduce the issue myself. I'll dig into your zshrc and see if there's anything specific in there that might be causing this.

[2019-10-14 15:24] jcklpe commented on #88
I think it might only be a problem for commands that I have multiple aliases for

[code]

[2019-10-14 15:25] MichaelAquilina commented on #88
ah yep I just found that regression this morning. I have a failing test case in #89. If I cant get that out by tonight I'll provide a hotfix.

A new feature has ended up introducing these regressions and tests did not catch them unfortunately.

[2019-10-14 15:30] jcklpe commented on #88
Cool, thanks!

[2019-10-14 22:05] #88 closed

[2019-10-14 22:06] MichaelAquilina commented on #88
@jcklpe please check out the latest release.

I've reverted the feature that introduced this bug. I'll look into introducing it again correctly at another time.

[2019-10-14 22:06] MichaelAquilina commented on #79
Re-opening this issue as the feature that solved it has been reverted.

[2019-10-14 23:50] jcklpe commented on #88
Yup works like previous now. Thanks for making this, it's a super great utility :)

[2019-11-26 17:38] selfish opened #90 "Hardcore mode won't block execution"
# Issue Details

Out of thin air, Hardcore mode died on me. I don't believe any specific changes were made in my zshrc that should have broken it.

I have done anything I could think of, including validating my .zshrc, re-installing YSU, etc.

<img width="509" alt="image" src="https://user-images.githubusercontent.com/7327741/69654756-ff653280-107d-11ea-9397-b1f1ad8a5908.png">

This example shows

[2019-11-26 20:09] MichaelAquilina commented on #90
That is quite strange, I have the same version of zsh and the plugin and it works correctly for me.

The only thing I can think of is the `kill` command targeting the wrong process due to some plugin that's been installed.

could you try running this in a shell

[code]

and the running the same command you should me before - and perhaps a few other examples you can think of.

[2019-11-27 12:10] selfish commented on #90
I, uh, guess that you were right if I'm reading that correctly?

<img width="473" alt="image" src="https://user-images.githubusercontent.com/7327741/69722322-7a325a00-111f-11ea-8a2f-99b8ae946e24.png">

This process was open before the echo command which triggered the print.

I started a new session (to reset kill) and the result of `which kill` is:
[code]

Any direction on how to approach that?

I

[2019-11-27 15:20] MichaelAquilina commented on #90
`It appears that romkatv/powerlevel10k or one of it's deps is the cuplrit.`

strange since I also use this, must be a specific setting or a new version that I have not updated to.

I have a few ideas I can experiment with once I can reproduce this issue

[2019-11-27 15:35] selfish commented on #90
Here's my .p10k.zsh in case it helps:

https://gist.github.com/e648eb8e240456926d10f8ced3b3068f

[2019-12-25 06:20] Aloxaf commented on #79
Emmm, why the fix was reverted?

[2019-12-28 19:51] MichaelAquilina commented on #79
The way the feature was implemented introduced a number of bugs. This problem is actually a lot harder than it looks to solve and will require quite a bit of thinking.

[2020-01-11 22:49] alivefromupstairs opened #91 "Global aliases detected incorrectly in substrings"
[code]
## Steps to reproduce the issue
[code]
## gist link to your zshrc
I tried it with `zsh -f`, sourced zplugin and loaded you-should-use and the problem persisted; my zshrc in dotfiles repo is outdated, spare me.

[2020-01-16 22:34] MichaelAquilina commented on #91
Thanks for taking the time to report this issue! The issue should now be fixed (#92 release 1.6.1). Please check the latest release :)

[2020-01-16 22:35] #91 closed

[2020-01-19 18:19] nawordar opened #94 "Allow ignoring global aliases"
# Issue Details

Please provide the following details when opening an issue:

## Operating System (uname -a)
[code]

## zsh version (zsh --version)
[code]

## you-should-use version (echo "$YSU_VERSION")
[code]

## How is zsh-you-should-use installed?
Just FYI I am using both oh-my-zsh and zplug, but I installed zsh-you-should-use with zplug.
- [x] zplug
- [ ] oh-my-zsh
- [ ] Antigen
- [ ] Other (

[2020-01-19 20:29] MichaelAquilina commented on #94
Support has been release in version 1.7.0

use the environment variable `YSU_IGNORED_GLOBAL_VARIABLES` (Check the README for more info)

[2020-01-19 20:30] #94 closed

[2020-01-19 20:50] nawordar commented on #94
Wow, that was fast! Thank you

[2020-01-23 23:38] alivefromupstairs opened #96 "Plugin Request"
Similar to `you-should-use`, I'd really use a plugin that would remind you of best practices.
You could set this plugin to show a message in color8 from `.Xresources` on the right side of the command line to show a best practicy command. for instance, I could set:
[code]
this wouldn't fire after command execution in `you-should-use` fashion because you can have true intentions of using the command

[2020-01-23 23:38] #96 closed

[2020-02-10 21:48] MichaelAquilina commented on #90
@selfish is this still an issue? I've updated to the latest powerlevel10k for a while now and I still cant reproduce the issue described here.

[2020-02-10 21:51] selfish commented on #90
@MichaelAquilina yups.
I've tried everything I could come up with, but nothing seems to make it work again.
I absolutely can't figure out what's causing the problem.

Did you happen to review my p10k config?

Thank you for following up.

[2020-02-10 21:57] MichaelAquilina commented on #90
I've actually tried your configuration and still cant seem to reproduce your issue. From looking at your p10k.zsh though it seems like you are using the transient and instant prompt features which tend to cause incompatibility in plugins. Could you check if disabling one of these fixes the issue?

[2020-02-11 19:06] selfish commented on #90
I just tried the following, each separately, and all together:

[code]

Bottom line is after I stripped down _everything_, it boils down to:
[code]

Even with every possible functionality turned off on p10k, and all plugins enabled on antigen, p10k kills YSU for me. :(

[2020-02-11 19:26] selfish commented on #90
Okay!

So after growing desperate, I decided to go batshit crazy:
[code]

@MichaelAquilina thank you for all of your help!
I appreciate the fact that you've tried, and I leave that here for reference.
I have to admit I have no idea what all of it actually did, since I did have the latest version of YSU, and a late version of p10k. But sure, either the update or the cache clear `antigen reset` did

[2020-02-11 19:26] #90 closed

[2020-02-12 10:34] MichaelAquilina commented on #90
Thanks for checking @selfish :) Hopefully this was just a very niche bug from a specific version of powerlevel10k. I'll keep an eye out for any similarly reported bugs in the future

[2020-04-06 22:47] NightMachinary opened #97 "Partial use of an alias precludes the detection of a better alias"
# Issue Details

[code]

## How is zsh-you-should-use installed?

- [ ] zplug
- [ ] oh-my-zsh
- [ ] Antigen
- [x] Other (please specify)

Antibody

## zshrc
[code]

[2020-04-06 22:49] NightMachinary commented on #97
Actually seems to be a duplicate of https://github.com/MichaelAquilina/zsh-you-should-use/issues/79

[2020-04-06 22:49] #97 closed

[2020-04-06 22:52] NightMachinary commented on #79
@MichaelAquilina Can you check out how https://github.com/djui/alias-tips solves this? (Search for `Disable Command Expansion` on that page)

I use this little function to expand aliases, can't it solve this?
[code]

[2020-04-27 06:31] Guchman commented on #48
Any news? I've got same issue:(

[2020-04-27 14:56] MichaelAquilina commented on #48
I'll try see if I can reproduce the issue at some point this week. Feel free to attempt to debug this though if you want to give a go at a PR :)

[2020-05-10 14:50] Guchman commented on #48
I've tried to find out the reason. It seems that it's not the you-should-use problem. Typed command, the $1 argument of the hook,  doesn't propagate to exec hooks when per-directory-history enabled as far as I see. It's breaking on "fc -p " command at per-directory-history-addhistory() hook installed from per-dir-history.zsh for some reason.

[2020-05-10 16:07] Guchman commented on #48
There is already an [issue](https://github.com/jimhester/per-directory-history/issues/31) at per-dir-history

[2020-05-10 17:52] MichaelAquilina commented on #48
Thanks for coming back with this @Guchman, this helps a lot. I might try see if there is a workaround I can put in place for the plugin so that this works correctly.

[2020-05-13 07:08] cupnoodles14 opened #98 "Escape sequences and printf placeholders get expanded in "Found..." message"
# Issue Details
## Operating System (uname -a)

`Linux soba 5.4.39-1-MANJARO #1 SMP PREEMPT Wed May 6 10:36:44 UTC 2020 x86_64 GNU/Linux`

## zsh version (zsh --version)
`zsh 5.8 (x86_64-pc-linux-gnu)`

## you-should-use version (echo "$YSU_VERSION")
`1.7.0`

## How is zsh-you-should-use installed?

- [ ] zplug
- [ ] oh-my-zsh
- [ ] Antigen
- [x] Other ([zinit](https://github.com/zdharma/zinit))

[2020-05-14 18:31] MichaelAquilina commented on #98
@cupnoodles14 this issue should be fixed in the latest release (1.7.1). Update using your plugin of choice and let me know if its fixed :)

[2020-05-14 18:31] #98 closed

[2020-05-15 04:03] cupnoodles14 commented on #98
Works great, thanks!

[2020-06-18 20:15] MDHD-Yee commented on #79
@MichaelAquilina Besides, sometimes if there exist multiple aliases for the same command, this plugin can not find the shortest one.

[code]

[code]

The first one should be `"ab"`

[2020-07-08 01:55] dsv-dungnt opened #103 "Usage guide for prezto"
# Issue Details

Install guide for sorin-ionescu/prezto

[2020-07-08 01:56] #103 closed

[2020-07-08 01:56] nhymxu opened #104 "Install guide for sorin-ionescu/prezto"
# Issue Details

Install guide for sorin-ionescu/prezto

[2020-08-08 11:21] andrewcrook opened #106 "check_alias_usage results in a malloc error"
# Issue Details

check_alias_usage results in a malloc error.
Aliases seem to be listed.

## Operating System (uname -a)

macOS Catalina 10.15.6 (19G73)

Darwin Andrews-MBP.local 19.6.0 Darwin Kernel Version 19.6.0: Sun Jul  5 00:43:10 PDT 2020; root:xnu-6153.141.1~9/RELEASE_X86_64 x86_64

## zsh version (zsh --version)

zsh 5.7.1 (x86_64-apple-darwin19.0)

## you-should-use version (echo "$YSU_VE

[2020-08-08 11:46] MichaelAquilina commented on #106
Thanks for reporting this issue! I actually noticed there's another regression in `check_alias_usage` last time so I would not be surprised if this is related.

Would you mind checking how much available free memory you had when running this?

[2020-08-08 13:02] andrewcrook commented on #106
@MichaelAquilina   sure  top from the same shell and activity monitor.  Plenty available.

`> top`

[code]

Activity Monitor

<img width="627" alt="image" src="https://user-images.githubusercontent.com/803618/89711047-a9bc8600-d97f-11ea-9451-08665b42a515.png">

[2020-10-06 02:36] usmcfiredog opened #107 "Add to Homebrew for Mac"
Any chance of adding to Homebrew for Macs?

[2020-10-06 15:17] MichaelAquilina commented on #107
Hi @usmcfiredog I'm afraid I will not be taking the time to add any support for homebrew.

This is mainly because I dont use a Mac and do not wish to spend the extra time supporting something I never use (and for that reason never test).

In addition to this, the best way to install and update this plugin is through the use of one of the standard zsh plugin managers.

Feel free to add this plugin

[2020-10-06 15:17] #107 closed

[2020-10-06 15:50] usmcfiredog commented on #107
Thank you since I have your permission I will add it to homebrew. I was exploring that but didn't know how to keep it up to date with your repo for when you make changes.

[2020-10-15 02:02] tddschn opened #108 "Not useful when aliased to 'command <command>'"
# Issue Details
To avoid aliasing based on other aliases, most of my zsh aliases are aliased to 'command <command>' like
`alias ls='command ls'` and `alias g='command git'`. (`command` is a zsh builtin.)
zsh-you-should-use doesn't work well with these aliases.

For example,
I have `cmd='command'` and `sas='command SwitchAudioSource '` in my aliases:
![image](https://user-images.githubusercontent.c

[2020-10-15 11:23] MichaelAquilina commented on #108
First time I've heard of the `command` builtin to be honest. Seems like `command` should be treated as not being there when it comes to determining aliases from what I understand?

[2020-10-15 12:42] tddschn commented on #108
Yeah I agree it's not a very popular builtin. :)

Very few people use `command` in their aliases but sometimes it's good to use it to avoid aliasing based on another alias or a user-defined function that happen to have the same name with the actual command.

I don't think there's a good way to fix issues with this edge case and I don't think I need it now. :)

I'll close this issue.

[2020-10-15 12:42] #108 closed

[2020-10-22 17:40] pinpox opened #109 "Request: Option to match only typed command without path"
# Issue Details

It would be very helpful to have the option to ignore the path typed when searching for existing aliases for the input.

E.g. supposed this alias is configured:
[code]
These inputs should all be mached:
[code]
This behaviour could be made optional and will help to make the plugin useful for "hardcoded" binaries that might not be in `$PATH`.

Apart form binaries that the user might

[2021-01-03 08:40] CodingSpiderFox commented on #79
Also for me an issue

In my .zshrc I have

[code]

Result:

[code]

I would have expected the suggestion of using the shorter `..` alias

[2021-01-20 09:29] Dentrax opened #110 "Consider support function aliases"
# Issue Details

Right now, `you-should-use` only recognizes aliases if command given well: `alias gs='git status`. But this not works for function aliases. It should better if it recognize this type of aliases: `alias my_alias='my_custom_function [COMMANDS] [FLAGS] [OPTIONS]`

## Operating System (uname -a)

`Darwin XXX 20.1.0 Darwin Kernel Version 20.1.0: Sat Oct 31 00:07:11 PDT 2020; root:xnu-7

[2021-01-20 09:34] MichaelAquilina commented on #110
I'm not actually sure I understand the problem here. Step 5 does not mention the function in any way so I wouldnt expect one of its aliases to be suggested. Is this a mistake in the issue description or am I just misunderstanding the problem?

[2021-01-21 06:35] Dentrax commented on #110
Actually the issue steps are correct. In case we call `gs`, we do not mention the `git` command directly but indirectly in the `_my_git()` function. That's because `_my_git()` takes an `"$@"` for `git` command, which means we are passing whole args to `git` indirectly. In case you ask what happens in these similar cases:

[code]

[code]

[code]

[2021-01-21 20:05] Dentrax commented on #110
I think you're right; that's what I thought when I wrote my last comment. :) What I understand is that we should not use functions in aliases to use this plugin properly.

[2021-01-22 10:36] MichaelAquilina commented on #110
Thanks for confirming @Dentrax :) going to be closing this issue. Let me know if you think otherwise!

[2021-01-22 10:36] #110 closed

[2021-05-15 00:25] MikeyBeez opened #111 "Common aliases"
Can I add the plugin common-aliases so YSU checks those aliases too?  How would I do that?   Thanks for creating this very helpful plugin.  I think it will transform my workflow.

[2021-05-15 14:02] MichaelAquilina commented on #111
If [this is the plugin](https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/common-aliases/common-aliases.plugin.zsh) you are referring to, then they should automatically just work with this plugin :)

The installation instructions for this plugin are in the README https://github.com/MichaelAquilina/zsh-you-should-use#installation

I'm going to mark this issue as closed. But feel free to contin

[2021-05-15 14:02] #111 closed

[2021-05-15 17:54] MikeyBeez commented on #111
From what I can tell, YSU is only working with github.  Here's my plugin line from my .zshrc:  plugins=(you-should-use docker git zsh-navigation-tools zsh-autosuggestions zsh-syntax-highlighting vi-mode common-aliases ubuntu z sudo)  I'm using oh-my-zsh.

[2021-05-17 09:49] MichaelAquilina commented on #111
@MikeyBeez what does `echo $YSU_VERSION` display for you?

[2021-12-16 17:19] Bananaman commented on #79
https://github.com/djui/alias-tips is a bad solution. It literally boots up a Python interpreter every time you run a shell command, lol.

But perhaps some of its algorithms can be ported to Zsh, because it's good at finding the shortest matching alias.

[2021-12-16 17:27] MichaelAquilina commented on #79
Writing in python is lot easier than writing zsh scripts  I says this with python as my main daily language :)

Some of those algorithms might require quite a bit of work as a result. But I'd be happy for someone to try give it a go. Alternatively you can also wait for me to have the time to do it, but I can make any promises in terms of when

[2021-12-16 17:47] Bananaman commented on #79
@MichaelAquilina Totally understandable. Actually, I am very happy with your plugin now, when I discovered `export YSU_MODE=ALL` which lets me see every alias! :) It's enough for me because it prints every matching alias, instead of attempting to pick some arbitrary "best match". :)

[2022-03-22 14:26] nivgsk opened #113 "Question/suggestion: printing alias content before execution"
# Issue Details

## Operating System (uname -a)
`Linux NivG-T490 5.4.0-104-generic #118~18.04.1-Ubuntu SMP Thu Mar 3 13:53:15 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`

## zsh version (zsh --version)
`zsh 5.4.2 (x86_64-ubuntu-linux-gnu)`

## you-should-use version (echo "$YSU_VERSION")
`1.7.3`

## How is zsh-you-should-use installed?

- [ ] zplug
- [x] oh-my-zsh
- [ ] Antigen
- [ ] Other (please sp

[2022-03-22 15:05] MichaelAquilina commented on #113
It's definitely possible and shouldnt be too difficult

I would make it an optional feature that is purely opt in.

I cant promise I will work on something like this anytime soon, but feel free to give it a go if you want :)

[2022-07-06 20:59] MTCoster opened #115 "Partial alias use prevents discovery of a better alias"
# Issue Details

Please provide the following details when opening an issue:

## Operating System (uname -a)

[code]

## zsh version (zsh --version)

[code]

## you-should-use version (echo "$YSU_VERSION")

[code]

## How is zsh-you-should-use installed?

- [x] zplug
- [ ] oh-my-zsh
- [ ] Antigen
- [ ] Other (please specify)

## Steps to reproduce the issue

1. Define two alias:
  * `alias g='git'

[2022-07-06 21:11] MTCoster commented on #106
I've just encountered this (although interestingly on Monterey `tail` seems to be using `calloc` instead of `malloc`) - I suspect it's to do with this:

https://github.com/MichaelAquilina/zsh-you-should-use/blob/09d9aa2cad2b7caf48cce8f321ebbbf8f47ce1c3/you-should-use.plugin.zsh#L17-L20

[2022-07-07 08:53] andrewcrook commented on #106
not sure iirc the different between calloc and malloc is that calloc zeros out the memory allocation and malloc other doesn’t. I suppose calloc is the slower of the two. I have since switched to bash as my main shell.

[2022-08-26 08:27] nengqi opened #116 "show the original full cmd when use alias"
This plugin helps to get full usage of aliases, but after using alias for a long time, it's easy to forget the original actually running cmd which actually run, especially some detailed arguments.
I wonder if we could have this feature in this plugin.
ps: set -x show verbose output in zsh.

[2022-08-27 08:54] KenEkanem opened #117 "Replaced yaourt with yay for global install"
Using yay helper to install the package system wide.
I've created a fork with this change.

[2022-09-03 06:38] #117 closed